#top
{
    background-position: center;
}
#menu
{
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

#logo
{
    width: 210px;
    height: auto;
}
#menu-list
{
    display: flex;
    justify-content: space-between;

    margin-top: 20px;

    font-size: 18px;
    width: 550px;
}

#top-text
{
    margin-top: 75px;
    margin-bottom: 35px;
    font-size: 45px;
}
#gradient
{
    width: 100%;
}
.menu-cel
{
    cursor: pointer;
}
/*Produits*/
#menu-products
{
    position: absolute;
    bottom: -136px;
    left: 0;
    display: none;
    margin-top: 6px;
}
.menu-product
{
    margin-top: 4px;
    padding: 4px 8px;

    border-left: 3px solid white;
    width: 100%;

    background-color: rgba(80,80,80,0.5);
    transition: 0.1s;
}
.menu-product:hover
{
    background-color: rgba(80,80,80,0.65);
}
#products-cel
{
    position: relative;
}