#top
{
    display: flex;
    justify-content: space-between;
}
#image-product
{
    padding-top: 80px;
    min-width: 300px;
}
#product-logo
{
    font-family: 'Hands';
    font-size: 150px;
    text-align: center;
}
#logo-menu
{
    text-align: center;
    font-size: 80px;
    font-family: 'Hands';
}
#text
{
    width: 600px;
    margin-top: 80px;
    color: var(--dark);
}
#title
{
    font-size: 26px;
}
#description
{

}



#infos
{
    min-height: 250px;
    margin-top: 100px;
    display: flex;
    color: var(--dark);
}
#infos-menu
{
    width: 220px;
}
#infos-content
{
    width: calc(100% - 220px);
}
.info-cel
{
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
    width: 90%;
    font-size: 20px;
    padding-left: 5px;
    border-left: 2px solid var(--color);
    transition: 0.1s;
}
.info-cel:hover
{
    color: black;
    border-left: 4px solid var(--color);
}
#info-title
{
    font-size: 25px;
    font-weight: bold;
}
.info-description
{
    display: none;
    padding: 20px;
}
#info-description-1
{
    display: block;
}











