body
{
    background-color: var(--dbbackground);
}
:root {

    --dblight: #ba5050;
    --dbdark: #972020;
    --dbdark-secondary: #574f4f;
    --dbbackground: #ececec;
}

#dbtitle
{
    font-size: 45px;
    font-weight: 300;
    color: var(--dbdark-secondary);
}
.dbsubtitle
{
    color: var(--dbdark-secondary);
    font-size: 18px;
}
.dbmidtitle
{
    margin-top: 50px;
    font-size: 30px;
    color: var(--dbdark-secondary);
    font-weight: 300;
}
.btn
{
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 17px;
    color: var(--dbdark);
    border: 1px solid var(--dbdark);
    border-radius: 12px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}
.input
{
    width: 250px;
    padding: 4px 6px;
    font-size: 18px;
    border: none;
    border-left: 2px solid var(--dbdark);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#body
{
    position: relative;
    height: 100%;
}
#content
{
    margin-left: 300px;
    padding: 20px;
    padding-left: 35px;
}
#menu
{
    position: fixed;

    display: flex;
    flex-direction: column;

    width: 300px;
    height: 100%;

    background-color: var(--dbdark);
}
#logo
{
    height: 70px;
}
#logo-block
{
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
    height: 70px;
}
.menu-cel
{
    position: relative;
    display: flex;

    width: 80%;
    margin-left: 10%;
    margin-top: 15px;

    background-color: var(--dbdark-secondary);
    border-radius: 5px;

    transition: 0.18s;
    cursor: pointer;
}
.menu-cel-text
{
    margin: 10px;
    font-size: 20px;
}
.menu-cel:hover
{
    background-color: var(--dbdark-secondary);
    border-radius: 8px;
    box-shadow: 0px 0px 6px black;
}
.icon-cel
{
    margin: 9px 0 0 15px;
    font-size: 23px;
    height: 20px;
}
.cel-active
{
    width: 13px;
    height: 13px;
    background-color: white;

    border-radius: 50%;

    position: absolute;
    top: 16px;
    right: 10px;
}
.cel-active-dev{
    top: 10px;
    right: 10px;

    width: 25px;
    height: 25px;
}
#btn-dev
{
    position: absolute;
    bottom: 15px;
    left: 0;
}
.popup-block
{
    display: none;

    position: fixed;
    bottom: 20px;
    left: 15%;
    z-index: 500;

    width: 70%;

}
.popup
{
    display: flex;

    background-color: #932626;
    color: white;

    padding: 14px 22px;
    font-size: 19px;
    border-radius: 22px;

    box-shadow: 0px 0px 6px black;
}
#succes-popup
{
    background-color: #258d1c;
}
.popup-icon
{
    margin-top: 2px;
}
.popup-text
{
    margin-left: 8px;
}
.devmode
{
    display: none;
}

#btn-dev:hover
{
    box-shadow: none;
}
.dev-icon-cel
{
    transition: 0.15s;
}
.dev-icon-cel:hover
{
    box-shadow: 0px 0px 6px black;
    transition: 0.15s;
}










