<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/base.css">
        <script src="https://kit.fontawesome.com/a4cb7ab473.js" crossorigin="anonymous"></script>
        {% set pagesAbsolute = ['global', 'accueil', 'contact', 'produits', 'qui-sommes-nous'] %}
        <title>{% block title %} ER2P Solutions {% endblock %}</title>
        <link rel="icon" type="image/png" href={{ image['global']['favicon']['url'] }} />
        {% block stylesheet %} {% endblock %}

    </head>
    <body>
        <div id="body">
            <div class="popup-block" id="error-popup-block">
                <div id="error-popup" class="popup">
                    <i class="fa-solid fa-circle-exclamation popup-icon"></i>
                    <div class="popup-text"></div>
                </div>
            </div>
            <div class="popup-block" id="succes-popup-block">
                <div id="succes-popup" class="popup">
                    <i class="fa-solid fa-circle-check popup-icon"></i>
                    <div class="popup-text"></div>
                </div>
            </div>
            {% block body %} {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.js"
                integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="/js/base.js"></script>
    {% block script %}
    {% endblock %}
    </body>
</html>