{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/us.css">
{% endblock %}

{% block script %}
    <script src="/js/us.js"></script>
{% endblock %}

{% block body %}
    {% include 'menu.html.twig' with {'title': 'Qui sommes-nous ?'} %}

    <div id="page-content" class="col-center">
        <div id="content" class="page-size-col-left">
            <h2 class="title"><i class="far fa-circle icon-title"></i>{{ text.firstTitle }}</h2>
            <p class="paragraphe">{{ text.firstText|nl2br }}</p>

            <h2 class="title"><i class="far fa-circle icon-title"></i>{{ text.secondTitle }}</h2>
            <p class="paragraphe">{{ text.secondText|nl2br }}</p>
        </div>
    </div>





    {% include 'foot.html.twig' %}

{% endblock %}