{% extends 'base.html.twig' %}
{#with {'title': 'Recherche utilisateur', 'return': '../../'} only#}
{% block stylesheet %}
    <link rel="stylesheet" href="/css/dashboard/menu.css">
    <link rel="stylesheet" href="/css/dashboard/image.css">
{% endblock %}

{% block script %}
    <script src="/js/dashboard/menu.js"></script>
    <script src="/js/dashboard/image.js"></script>
{% endblock %}
{% block body %}
    {% include 'dashboard/menu.html.twig' %}
    <div id="content">
        <div id="dbtitle">Gérer toutes les images dynamiques</div>
        <div class="devmode">
            <div class="dbmidtitle">Créer une image <span style="font-size: 19px">(fonctionnalité développeur)</span></div>
            <form id="add-image" method="post" action="/dashboard-er2p/images/add" enctype="multipart/form-data">
                <div class="dbsubtitle" style="margin-top: 10px">Code de l'image :</div>
                <input type="text" name="name" class="input" id="dev-input-name">
                <div class="dbsubtitle" style="margin-top: 10px">Label de l'image :</div>
                <input type="text" name="label" class="input" id="dev-input-label">
                <div class="dbsubtitle" style="margin-top: 10px">Page :</div>
                <select name="page" class="input">
                    {% for page in pagesAbsolute %}
                        <option value="{{ page }}">{{ page|capitalize }}</option>
                    {% endfor %}
                </select>
                <div class="dbsubtitle" style="margin-top: 10px">Fichier :</div>
                <input type="file" class="input" id="image-file" name="image">
                <input type="submit" value="Ajouter" class="btn" id="dev-submit">
            </form>
        </div>
        <div class="dbsubtitle" id="image-choose-page">Choisissez la page où vous souhaitez modifier une image :</div>
        <div id="tabs">
            {% for eachPage in pages %}
                <div class="tab" data-page="{{ eachPage }}">{{ eachPage|capitalize }}</div>
            {% endfor %}
        </div>

        <div class="dbsubtitle" id="image-list">Images présentes sur la page <span id="page-name"></span>:</div>
        <div id="list"></div>


        {#    <div class="image-block">#}
        {#        <div class="img-image" style="background-image: url('/images/62364f53dd01f62364f53dd020.jpg')"></div>#}
        {#        <div class="img-name">#}
        {#            Paysage#}
        {#        </div>#}
        {#        <div class="img-edit-btn img-btn">#}
        {#            <i class="fas fa-pen"></i>#}
        {#        </div>#}
        {#        <div class="img-delete-btn img-btn button-delete">#}
        {#            <i class="fas fa-trash"></i>#}
        {#        </div>#}
        {#    </div>#}
    </div>
{% endblock %}