{% extends 'base.html.twig' %}
{#with {'title': 'Recherche utilisateur', 'return': '../../'} only#}
{% block stylesheet %}
    <link rel="stylesheet" href="/css/dashboard/login.css">
    <link rel="stylesheet" href="/css/dashboard/menu.css">
{% endblock %}

{% block script %}
    <script src="/js/dashboard/menu.js"></script>
    <script src="/js/dashboard/login.js"></script>
{% endblock %}

{% block body %}
    <div class="popup-block" id="error-popup-block">
        <div id="error-popup" class="popup">
            <i class="fa-solid fa-circle-exclamation popup-icon"></i>
            <div class="popup-text"></div>
        </div>
    </div>
    <div class="popup-block" id="succes-popup-block">
        <div id="succes-popup" class="popup">
            <i class="fa-solid fa-circle-check popup-icon"></i>
            <div class="popup-text"></div>
        </div>
    </div>

    <div id="login-block">
        <div id="login-img" class="d-img" {{ image['global']['mainLogo']['style'] }}></div>

        <form id="form-login" action="/dashboard-er2p/connexion/post" method="post">
            <input class="input" type="text" name="id" placeholder="Identifiant"/>
            <input class="input" type="password" name="password" placeholder="Mot de passe">
            <input class="btn" id="submit-login" type="submit" value="Me connecter">
        </form>
    </div>
{% endblock %}