{% extends 'base.html.twig' %}
{#with {'title': 'Recherche utilisateur', 'return': '../../'} only#}
{% block stylesheet %}
    <link rel="stylesheet" href="/css/dashboard/menu.css">
    <link rel="stylesheet" href="/css/dashboard/text.css">
{% endblock %}

{% block script %}
    <script src="/js/dashboard/menu.js"></script>
    <script src="/js/dashboard/text.js"></script>
{% endblock %}

{% block body %}
    {% include 'dashboard/menu.html.twig' %}
    <div id="content">
        Settings



    </div>
{% endblock %}