{% extends 'base.html.twig' %}
{#with {'title': 'Recherche utilisateur', 'return': '../../'} only#}
{% block stylesheet %}
    <link rel="stylesheet" href="/css/dashboard/menu.css">
    <link rel="stylesheet" href="/css/dashboard/text.css">
{% endblock %}

{% block script %}
    <script src="/js/dashboard/menu.js"></script>
    <script src="/js/dashboard/text.js"></script>
{% endblock %}
{% block body %}
    {% include 'dashboard/menu.html.twig' %}
    <div id="content">
        <div id="dbtitle">Gérer tous les textes dynamiques</div>
        <div class="devmode">
            <div class="dbmidtitle">Créer un texte <span style="font-size: 19px">(fonctionnalité développeur)</span></div>
            <form id="add-text" method="post" action="/dashboard-er2p/textes/add">
                <div class="dbsubtitle" style="margin-top: 10px">Code du texte :</div>
                <input type="text" name="name" class="input" id="dev-input-name">
                <div class="dbsubtitle" style="margin-top: 10px">Label du texte :</div>
                <input type="text" name="label" class="input" id="dev-input-label">
                <div class="dbsubtitle" style="margin-top: 10px">Page :</div>
                <select name="page" class="input">
                    {% for page in pagesAbsolute %}
                        <option value="{{ page }}">{{ page|capitalize }}</option>
                    {% endfor %}
                </select>
                <div class="dbsubtitle" style="margin-top: 10px">Contenu :</div>
                <textarea class="input" name="content" id="ta-content"></textarea>
                <input type="submit" value="Ajouter" class="text-save-btn btn" id="dev-submit">
            </form>
        </div>
        <div class="dbsubtitle" id="text-choose-page">Choisissez la page où vous souhaitez modifier un texte :</div>
        <div id="tabs">
            {% for eachPage in pages %}
                <div class="tab" data-page="{{ eachPage }}">{{ eachPage|capitalize }}</div>
            {% endfor %}
        </div>

        <div class="dbsubtitle" id="text-list">Textes présents sur la page <span id="page-name"></span>:</div>
        <div id="list"></div>
    </div>
{% endblock %}